/* RESPONSIVE */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/* COLORS */
$color-primary: #151515;
$color-secondary: #7E26F8;
$color-extra: #d526f8;
$greymedium: #242424;
$greylight: #d9d9d9;

